@font-face {
    font-family: "proxima-nova";
    src: url("proxima-nova-thin.otf");
    font-weight: 100;
}

@font-face {
    font-family: "proxima-nova";
    src: url("proxima-nova-light.otf");
    font-weight: 300;
}

@font-face {
    font-family: "proxima-nova";
    src: url("proxima-nova-regular.otf");
    font-weight: normal;
}

@font-face {
    font-family: "proxima-nova";
    src: url("proxima-nova-bold.otf");
    font-weight: bold;
}

@font-face {
    font-family: "proxima-nova";
    src: url("proxima-nova-extrabold.otf");
    font-weight: 800;
}

@font-face {
    font-family: "proxima-nova";
    src: url("proxima-nova-black.otf");
    font-weight: 900;
}
