<div class="custom-dialog">
    <div class="dialog-header" mat-dialog-title>{{config.data ? 'Request Class Update' : 'Request Class'}}</div>
    <mat-dialog-content>
        <form #form [formGroup]="classForm!" (ngSubmit)="saveClass()">
            <ng-select-box label="Grade" size="sm" formControlName="gradeId" [items]="grades" bindLabel="name"
                           bindValue="id" [clearable]="false" [disabled]="!!config.data"
                           (ngModelChange)="generateName()"></ng-select-box>
            <ng-select-box label="Subject" size="sm" formControlName="subjectId" [items]="subjects" bindLabel="name"
                           bindValue="id" [clearable]="false" [disabled]="!!config.data"
                           (ngModelChange)="generateName()"></ng-select-box>
            <ng-input label="Name" [rightText]="generatedName" size="sm" formControlName="name"></ng-input>
            <ng-input label="Description" size="sm" formControlName="description"></ng-input>
            <ng-input ngNumber label="Class Fee" size="sm" formControlName="payment"></ng-input>
        </form>
    </mat-dialog-content>
    <mat-divider></mat-divider>
    <mat-dialog-actions>
        <ng-button class="ms-auto" styleClass="btn-secondary" label="Cancel" size="sm" (onClick)="close()"></ng-button>
        <ng-button styleClass="btn-app-primary" [label]="config.data? 'Request Class Update' : 'Request Class'"
                   size="sm" [spin]="loading" loadingText="Please wait..."
                   (onClick)="form.requestSubmit()"></ng-button>
    </mat-dialog-actions>
</div>
