@import "src/style/scss";

.quiz {
    margin-bottom: $spacer-4;

    .marking {
        position: absolute;
        height: 100%;
        width: 96px;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        right: 0;
    }

    .incorrect-marking {
        display: none;
    }

    .correct-marking {
        color: $success;
    }

    &.incorrect {
        .correct-marking {
            display: none;
        }

        .incorrect-marking {
            color: $danger;
            display: inline;
        }

        .form-check {
            .form-check-input:checked {
                background-color: $danger;
                border-color: $danger;

                + .form-check-label {
                    color: $danger;
                }
            }

            &.answer .form-check-label {
                border-bottom: 2px solid $success;
            }
        }
    }

    .quiz-heading {
        font-weight: $font-bold;
        margin-bottom: $spacer-1;
    }

    .quiz-title {
        font-weight: $font-bold;
        margin-left: $spacer;
        margin-bottom: $spacer-1;
    }

    .quiz-body {
        position: relative;
        margin-left: $spacer * 2;

        .quiz-choices {
            .form-check-label, .form-check-input {
                cursor: pointer;
            }
        }

        .quiz-input {

        }
    }

    .form-check-label {
        opacity: 1;
    }
}
