<div class="custom-dialog">
    <div class="dialog-header" mat-dialog-title>{{paymentSuccess ? '' : 'Checkout'}}</div>
    <mat-dialog-content>
        <div class="stripe-payment">
            <div *ngIf="loading" class="h-100 d-flex align-items-center justify-content-center">
                <ng-spinner></ng-spinner>
            </div>
<!--            <div *ngIf="!loading && !paymentSuccess"-->
<!--                 class="payment h-100 d-flex flex-column align-items-center justify-content-center">-->
<!--                <div class="amount">LKR {{(config.data?.amount ?? 0) / 100 | number:'1.2-2'}}</div>-->
<!--                <ng-container *ngIf="elementsOptions?.clientSecret as clientSecret">-->
<!--&lt;!&ndash;                    <ngx-stripe-payment [clientSecret]="clientSecret">&ndash;&gt;-->
<!--&lt;!&ndash;                    </ngx-stripe-payment>&ndash;&gt;-->
<!--                </ng-container>-->
<!--            </div>-->
<!--            <div *ngIf="!loading && paymentSuccess" class="rounded payment-success">-->
<!--                <i class="bi bi-check-circle-fill"></i>-->
<!--                <h2 class="heading">Payment Successful!</h2>-->
<!--                <div class="transaction-id">Transaction ID: {{paymentIntent?.id}}</div>-->
<!--                <div class="separator"></div>-->
<!--                <div class="amount">LKR {{(config.data?.amount ?? 0) / 100 | number:'1.2-2'}}</div>-->
<!--&lt;!&ndash;                <div&ndash;&gt;-->
<!--&lt;!&ndash;                    class="amount">{{paymentIntent?.currency | uppercase}} {{(paymentIntent?.amount ?? 0) / 100 | number:'1.2-2'}}</div>&ndash;&gt;-->
<!--            </div>-->
        </div>
    </mat-dialog-content>
    <mat-divider></mat-divider>
    <mat-dialog-actions>
        <ng-button *ngIf="!paymentSuccess" class="ms-auto" styleClass="btn-secondary" label="Cancel" size="sm"
                   (onClick)="close()"></ng-button>
        <ng-button styleClass="btn-app-primary" [label]="paymentSuccess ? 'Ok' : ''" size="sm" [spin]="paying"
                   loadingText="Please wait..." (onClick)="paymentSuccess ? ok() : pay()">
            <span *ngIf="!paymentSuccess"><i class="bi bi-credit-card-fill me-3"></i>Pay</span>
        </ng-button>
    </mat-dialog-actions>
</div>
