<!--suppress HtmlUnknownAttribute -->
<label *ngIf="label" [attr.data-control]="formControlName" class="form-label font-bold">{{label}}</label>
<div class="input-group ng-control has-validation {{styleClass}}"
     [class.disabled]="disabled"
     [ngClass]="size === 'sm'? 'ng-control-sm': size === 'lg'? 'ng-control-lg': ''">
    <i class="icon" *ngIf="icon" [class]="icon"></i>
    <span *ngIf="!icon && rightText" class="input-group-text">{{rightText}}</span>

    <div class="form-control ng-form-control datetime-picker">
        <div class="date-picker">
            <input
                #input
                bsDatepicker
                type="text"
                class="form-control ng-form-control text-center {{getInputClasses()}}"
                spellcheck="false"
                [class.is-invalid]="this.isInvalid()"
                [class.has-icon]="icon"
                [name]="formControlName"
                [attr.name]="formControlName"
                [readonly]="readonly"
                [ngModel]="value"
                [disabled]="disabled"
                [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                (ngModelChange)="dateChange($event)">
        </div>
        <div>
            <!--suppress JSUnusedGlobalSymbols -->
            <timepicker
                [mousewheel]="true"
                [arrowkeys]="true"
                [class.is-invalid]="this.isInvalid()"
                [class.has-icon]="icon"
                [attr.name]="formControlName"
                [ngModel]="value"
                [disabled]="disabled"
                (ngModelChange)="timeChange($event)"></timepicker>
        </div>
    </div>

</div>
<div *ngIf="description" class="form-text">{{description}}</div>
<div *ngIf="noValidation === undefined" class="invalid-feedback">
    <span *ngIf="ifError('required')">Please enter {{label?.toLowerCase() ?? getName()}}.</span>
    <span *ngIf="ifError('email')">Invalid e-mail address.</span>
    <span *ngIf="ifError('matched')">{{label ?? getName() | toFirstCases}} does not match.</span>
</div>
