<div class="custom-dialog">
    <div class="dialog-header" mat-dialog-title>{{config.data ? 'Update' : 'Create'}} Grade</div>
    <mat-dialog-content>
        <form #form [formGroup]="gradeForm!" (ngSubmit)="saveGrade()">
            <ng-input label="Name" size="sm" formControlName="name"></ng-input>
            <ng-input label="Description" size="sm" formControlName="description"></ng-input>
        </form>
    </mat-dialog-content>
    <mat-divider></mat-divider>
    <mat-dialog-actions>
        <ng-button class="ms-auto" styleClass="btn-secondary" label="Cancel" size="sm" (onClick)="close()"></ng-button>
        <ng-button styleClass="btn-app-primary" [label]="config.data ? 'Update' : 'Create'" size="sm" [spin]="loading"
                   loadingText="Please wait..."
                   (onClick)="form.requestSubmit()"></ng-button>
    </mat-dialog-actions>
</div>
