<form class="vh-100 d-flex flex-column justify-content-center" *ngIf="forgotPasswordForm"
      [formGroup]="forgotPasswordForm!"
      (ngSubmit)="resetRequest()">
    <div>
        <h1 class="title font-bold mb-5">Forgot Password</h1>
        <ng-input label="Email" size="lg" formControlName="email" icon="bi bi-envelope-at"></ng-input>
        <ng-button type="submit" class="w-100 mt-3" styleClass="btn-app-primary" label="Request Password Reset"
                   size="lg" [spin]="loading" loadingText="Requesting..."></ng-button>
        <div class="text-center mt-3">
            <a routerLink="/">Back to Login</a>
        </div>
    </div>
</form>
