<div class="container h-100">
    <form *ngIf="registerForm" [formGroup]="registerForm!" (ngSubmit)="register()" class="pb-5">
        <h1 class="title font-bold mb-3 mt-5">Register</h1>

        <div class="mb-4">
            This registration is for students only. If you are a tutor looking for teach with us please contact us with your information at
            <a href="mailto:avawaruna@gmail.com">avawaruna@gmail.com</a>. You can find more about this process by clicking <a routerLink="/auth/tutor">here</a>.
        </div>

        <ng-input label="First Name" size="lg" formControlName="firstName"></ng-input>
        <ng-input label="Last Name" size="lg" formControlName="lastName"></ng-input>
        <ng-input label="Username" size="lg" formControlName="username"></ng-input>
        <ng-input ngPassword label="Password" size="lg" formControlName="password"></ng-input>
        <ng-input ngPassword label="Confirm Password" size="lg" formControlName="confirm"></ng-input>
        <ng-input ngEmail label="Email" size="lg" formControlName="email"></ng-input>
        <ng-input label="Date of Birth" size="lg" formControlName="dob"></ng-input>
        <ng-input label="Phone Number" size="lg" formControlName="phone"></ng-input>
        <ng-select-box label="Area" size="lg" formControlName="areaId" [items]="areas" bindLabel="name"
                       bindValue="id" [clearable]="false"></ng-select-box>
        <ng-input label="Address" size="lg" formControlName="address"></ng-input>
        <ng-select-box label="Guardian" size="lg" formControlName="guardianRelationship" [items]="guardianRelationships"
                       bindLabel="key" bindValue="value" [clearable]="false"></ng-select-box>
        <ng-input label="Guardian Name" size="lg" formControlName="guardianName"></ng-input>
        <ng-input label="Guardian Phone Number" size="lg" formControlName="guardianPhone"></ng-input>
        <ng-input label="Guardian Address" size="lg" formControlName="guardianAddress"></ng-input>
        <ng-input label="School" size="lg" formControlName="school"></ng-input>

        <ng-button type="submit" class="w-100 mt-3" styleClass="btn-app-primary" label="Register" size="lg" [spin]="loading" loadingText="Please wait..."></ng-button>

        <div class="text-center mt-3 pb-3">
            <a routerLink="/auth/login">Already Registered?</a>
        </div>
    </form>
</div>
