@import "src/style/scss";

.menu {
    position: relative;

    .avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid $app-sub-text-color;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        cursor: pointer;
    }

    .menu-items {
        position: absolute;
        right: 0;
        background-color: $app-surface-color;
        border-radius: $app-card-radius;

        .menu-item {
            cursor: pointer;
            white-space: nowrap;
            color: $app-text-color;

            &:hover {
                background-color: $app-background-color;
            }
        }

        .divider {
            border-bottom: 1px solid $app-border-color;
        }
    }
}
