<div class="custom-dialog">
    <div class="dialog-header" mat-dialog-title>Create Tutor</div>
    <mat-dialog-content>
        <form #form [formGroup]="tutorForm!" (ngSubmit)="saveTutor()">
            <ng-input label="Username" size="sm" formControlName="username"></ng-input>
            <ng-input *ngIf="!config.data" label="Password" size="sm" formControlName="password"></ng-input>
            <ng-input label="First Name" size="sm" formControlName="firstName"></ng-input>
            <ng-input label="Last Name" size="sm" formControlName="lastName"></ng-input>
            <ng-input label="E-mail" size="sm" formControlName="email"></ng-input>
            <ng-input ngDatepicker label="Birthday" size="sm" formControlName="dob"></ng-input>
            <ng-input label="Phone" size="sm" formControlName="phone"></ng-input>
            <ng-select-box label="Area" size="sm" formControlName="areaId" [items]="areas" bindLabel="name"
                           bindValue="id" [clearable]="false"></ng-select-box>
            <ng-input label="Address" size="sm" formControlName="address"></ng-input>
            <ng-input label="School" size="sm" formControlName="school"></ng-input>
        </form>
    </mat-dialog-content>
    <mat-divider></mat-divider>
    <mat-dialog-actions>
        <ng-button class="ms-auto" styleClass="btn-secondary" label="Cancel" size="sm" (onClick)="close()"></ng-button>
        <ng-button styleClass="btn-app-primary" label="Create" size="sm" [spin]="loading"
                   loadingText="Please wait..."
                   (onClick)="form.requestSubmit()"></ng-button>
    </mat-dialog-actions>
</div>
