<div class="header-content d-flex justify-content-around align-items-center">
    <div class="header-left flex-none">
        <img class="logo" src="assets/images/svg/logo/logo-black-green-1.svg" alt="">
    </div>
    <div class="header-center flex-grow-1">

    </div>
    <div class="header-right flex-none d-flex align-items-center justify-content-end gap-3 pe-3">
        <app-notifications></app-notifications>
        <app-pop-up-menu class="me-3" [items]="menuItems"></app-pop-up-menu>
    </div>
</div>
