@import "src/style/scss";

.quiz {
    position: relative;
}

th {
    text-align: center;
}

th, td {
    padding-bottom: $spacer-2;
}

.choice-answer {
    max-width: 400px;
}

.choice-label {
    width: 80px;
}

.btn-space {
    width: 16px;
}

.btn-remove-quiz {
    position: absolute;
    top: 10px;
    right: 10px;
}

.btn-close:focus {
    box-shadow: none !important;
}

.form-check, .form-check-input, .form-check-label {
    cursor: pointer;
}
