/* Weight */

//noinspection SassScssResolvedByNameOnly
.font-thin {
    font-weight: $font-thin
}

//noinspection SassScssResolvedByNameOnly
.font-light {
    font-weight: $font-light;
}

//noinspection SassScssResolvedByNameOnly
.font-normal {
    font-weight: $font-normal;
}

//noinspection SassScssResolvedByNameOnly
.font-bold {
    font-weight: $font-bold;
}

//noinspection SassScssResolvedByNameOnly
.font-bolder {
    font-weight: $font-bolder;
}

//noinspection SassScssResolvedByNameOnly
.font-black {
    font-weight: $font-black;
}


/* Size */

//noinspection SassScssResolvedByNameOnly
.font-xs {
    font-size: $font-size-xs;
}

//noinspection SassScssResolvedByNameOnly
.font-sm {
    font-size: $font-size-sm;
}

//noinspection SassScssResolvedByNameOnly
.font-base {
    font-size: $font-size-base;
}

//noinspection SassScssResolvedByNameOnly
.font-lg {
    font-size: $font-size-lg;
}

//noinspection SassScssResolvedByNameOnly
.font-xl {
    font-size: $font-size-xl;
}

//noinspection SassScssResolvedByNameOnly
.font-2xl {
    font-size: $font-size-2xl;
}

//noinspection SassScssResolvedByNameOnly
.font-3xl {
    font-size: $font-size-3xl;
}

//noinspection SassScssResolvedByNameOnly
.font-4xl {
    font-size: $font-size-4xl;
}

//noinspection SassScssResolvedByNameOnly
.font-5xl {
    font-size: $font-size-5xl;
}

//noinspection SassScssResolvedByNameOnly
.font-6xl {
    font-size: $font-size-6xl;
}

//noinspection SassScssResolvedByNameOnly
.font-7xl {
    font-size: $font-size-7xl;
}

//noinspection SassScssResolvedByNameOnly
.font-8xl {
    font-size: $font-size-8xl;
}

//noinspection SassScssResolvedByNameOnly
.font-9xl {
    font-size: $font-size-9xl;
}

//noinspection SassScssResolvedByNameOnly
.font-10xl {
    font-size: $font-size-10xl;
}
